@model IEnumerable<SICORA.Models.Prueba_bd>
@{
    ViewData["Title"] = "CONEXION";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<body>
    <form id="form1">
        <div>
            <table>
                <tr>
                    <td>
                        <label>ID :</label>
                    </td>
                    <td colspan="2">
                        <input type="Text" name="ID" id="ID">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>NOMBRE :</label>
                    </td>
                    <td colspan="2">
                        <input type="Text" name="NOMBRE" id="NOMBRE">
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>DESCRIPCION :</label>
                    </td>
                    <td colspan="2">
                        <input type="Text" name="DESCRIPCION" id="DESCRIPCION">
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>TRAILER :</label>
                    </td>
                    <td colspan="2">
                        <input type="Text" name="TRAILER" id="TRAILER">
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>PRECIO :</label>
                    </td>
                    <td colspan="2">
                        <input type="Text" name="PRECIO" id="PRECIO">
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input type="submit" value="MOSTRAR" class="btn btn-primary" />
                        <input type="submit" value="ELIMINAR" class="btn btn-primary" />
                        <input type="submit" value="ACTUALIZAR" class="btn btn-primary" />
                    </td>                  
                    
                </tr>



                <table class="table">
                <thead>
                    <tr>
                        <th>
                           @Html.DisplayNameFor(model => model.Nom_juego)
                     </th>
                        <th></th>
                    </tr>
                 </thead>
                <tbody>
                @foreach (var item in Model) {
                     <tr>
                        <td>
                             @Html.DisplayFor(modelItem => item.Nom_juego)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                         </td>
                    </tr>
                }
                </tbody>
                </table>

                
               
            </table>
        </div>
    </form>
</body>
