@model IEnumerable<SICORA.Models.Prueba_bd>
@{
    ViewData["Title"] = "CONEXION";
}
<h2>Por</h2>

<p>
    <a asp-action="Create">CREAR NUEVA PRUEBA</a>
</p>
<form asp-controller="Home" asp-action="Prueba_bd">
     <p>
         ID PRUBEA: <input type="text" name="SearchString">
         <input type="submit" value="Filter" />
     </p>
    
 </form>
   
                <table class="table">
                <thead>
                    <tr>
                        <th>                           
                                Juego                            
                        </th>
                        <th>                        
                               Descripcion                                                       
                        </th>
                        <th>                           
                                Trailer                                                        
                        </th>
                        <th>                           
                                Imagen                                                      
                        </th>
                        <th>                          
                                Precio                                                       
                        </th>
                    </tr>
                 </thead>
                <tbody>
                @foreach (var item in Model) {
                     <tr>
                        <td>
                             @Html.DisplayFor(modelItem => item.Nom_juego)
                        </td>
                        
                         <td>
                             @Html.DisplayFor(modelItem => item.Desc_juego)
                        </td>
                        
                         <td>
                             @Html.DisplayFor(modelItem => item.Trailer_juego)
                        </td>
                        
                         <td>
                             @Html.DisplayFor(modelItem => item.Imagen_juego)
                        </td>
                        
                         <td>
                             @Html.DisplayFor(modelItem => item.Pre_juego)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> 
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>|
                         </td>
                    </tr>
                }
                </tbody>
                </table>

                
               
           